*.p
*.sql
*.log
*.csv

# Development
.idea
*.gz
!integrations/SD_Lon/tests/fixtures/2021-09-21-06-06-55-cron-backup.tar.gz
!integrations/SD_Lon/tests/fixtures/2021-09-22-06-06-55-cron-backup.tar.gz
*~
*.swp

# Mac
.DS_Store

# Python
__pycache__
*.pyc
*.egg-info
build
dist

# Virtual environment
venv-*
venv

# Logs and caches
tmp

# Workspace
overflow
.hypothesis/

# default output filenames
emus_filename.xml

# customer settings
settings
ActualState.db

#IDE's
.vscode

# Sphinx temp files
docs/source/stubs/*
