*.p
*.sql
*.log
*.csv
*.xlsx

# Development
.idea
*.gz
*~
.vscode
.env

# Mac
.DS_Store

# Python
__pychache__
*.pyc
*.egg-info
build
dist

# Virtual environment
venv-*
venv

#Logs and caches
tmp

# Workspace
overflow

#default output filenames
emus_filename.xml

# customer settings
settings
